<div ng-controller="adesioneSeStessoCtrl as adesioneCtrl">
    
    <h2>Inserisci i tuoi dati</h2>
    
    <div class="row" ng-hide="adesioneCtrl.mostraSceltaTesseramento">
        <div class="col-sm-4 col-sm-offset-4">
            <form name="indirizzi" novalidate>
                <div class="form-group" ng-class="indirizzi.cap.$error.required ? 'has-error' : 'has-success'">
                    <label>Cap</label>
                    <input name="cap" class="form-control" ng-model="adesioneCtrl.indirizzi.cap" required />
                </div>
                <div class="form-group" ng-class="indirizzi.citta.$error.required ? 'has-error' : 'has-success'">
                    <label>Città</label>
                    <input name="citta" class="form-control" ng-model="adesioneCtrl.indirizzi.citta" required />
                </div>
                <div class="form-group" ng-class="indirizzi.paese.$error.required ? 'has-error' : 'has-success'">
                    <label>Paese</label>
                    <input name="paese" class="form-control" ng-model="adesioneCtrl.indirizzi.paese" required />
                </div>    
                <div class="text-center">
                    <button ng-disabled="indirizzi.$invalid" class="btn btn-primary" ng-click="adesioneCtrl.setIndirizzi()">Conferma</button>
                </div> 
            </form>
        </div>
    </div>
    
    <div class="row">
        <div ng-show="adesioneCtrl.mostraSceltaTesseramento && !adesioneCtrl.iscrizioneTerminata" class="col-sm-6 col-sm-offset-2">
            <h3>Tipo tesseramento</h3>
            <div>
                <span>Scegli il tipo di tesseramento</span>
                <table class="table table-bordered">
                    <th>Nome</th>
                    <th>Costo</th>
                    <th></th>
                    <tr ng-repeat="tipoRichiestaTesseramento in adesioneCtrl.garaSelezionata | tipiRichiestaTessermaneto">
                        <td>{{tipoRichiestaTesseramento.tipoRichiestaTesseramento.nome_it}}</td>
                        <td>{{tipoRichiestaTesseramento.costo}}</td>
                        <td>
                            <button class="btn btn-primary btn-xs" type="button" ng-click="adesioneCtrl.selezionaTipoRichiestaTessermaneto(tipoRichiestaTesseramento.tipoRichiestaTesseramento)">Seleziona</button>
                        </td>
                    </tr>
                </table>
            </div>
            
            <div ng-show="adesioneCtrl.risultatoRicercaTesserati.length == 0 || adesioneCtrl.risultatoRicercaTesserati.length > 1">
                <span>Non ho trovato alcun tesserato con i tuoi dati. Se sei tesserato inserisci il tuo numero di tessera. Altrimenti, se ti tessererai in futuro, clicca su prosegui</span><br>
                <form name="nonTrovato" novalidate>
                    <div class="form-group" ng-class="nonTrovato.codiceTessera.$error.required ? 'has-error' : 'has-success'">
                        <label>Codice tessera</label>
                        <input type="text" name="codiceTessera" class="form-control" ng-model="adesioneCtrl.codiceTessera" required/>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-xs btn-primary" ng-disabled="nonTrovato.$invalid" ng-click="adesioneCtrl.ricercaTesseratiConCodiceTessera(adesioneCtrl.codiceTessera)">Cerca</button>
                        <button type="button" class="btn btn-xs btn-warning" ng-click="adesioneCtrl.tesseramentoFuturo()">Prosegui</button>
                    </div>
                </form>
            </div>
            
            <div ng-show="adesioneCtrl.risultatoRicercaTesserati.length == 1">
                <label>Nome: {{adesioneCtrl.risultatoRicercaTesserati[0].NOME}}</label><br>
                <label>Congome: {{adesioneCtrl.risultatoRicercaTesserati[0].COGNOME}}</label><br>
                <label>Data di nascita: {{adesioneCtrl.risultatoRicercaTesserati[0].DATA_NASCITA}}</label><br>
                <label>Codice tessera: {{adesioneCtrl.risultatoRicercaTesserati[0].TESSERA}}</label><br><br>
                
                <span>Secondo la nostra ricerca risulta che sei un atleta FITri. Se sei te clicca su conferma, altrimenti inserisci il tuo numero di tessera</span><br>
                <form name="trovato" novalidate>
                    <div class="form-group" ng-class="trovato.codiceTessera.$error.required ? 'has-error' : 'has-success'">
                        <label>Codice tessera</label>
                        <input type="text" name="codiceTessera" class="form-control" ng-model="adesioneCtrl.codiceTessera" required>
                    </div>
                    <div class="text-center">
                        <button type="button" ng-disabled="trovato.$invalid" class="btn btn-primary btn-xs" ng-click="adesioneCtrl.ricercaTesseratiConCodiceTessera(adesioneCtrl.codiceTessera)">Cerca</button>
                        <button type="button" class="btn btn-xs btn-success" ng-click="adesioneCtrl.setTesseramentoByTessera(adesioneCtrl.risultatoRicercaTesserati[0].TESSERA)">Conferma</button>
                    </div>
                </form>
                
            </div>
            
        </div>
        <div ng-hide="!adesioneCtrl.iscrizioneTerminata">
            <a href="#/riepilogo"><button type="button" class="btn btn-primary btn-xs" >Riepilogo ordine</button></a>
            <a href="#/nuovaIscrizione"><button type="button" class="btn btn-primary btn-xs" >Nuova iscrizione</button></a>
        </div>
    </div>
    

</div>