<div ng-controller="aggiuntaDatiSquadraCtrl as datiSquadraCtrl">
   
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4" >
            <form name="squadra" novalidate>
                <div class="form-group" ng-class="squadra.nomeSquadra.$error.required ? 'has-error' : 'has-success'">
                    <label>Nome squadra</label>
                    <input type="text" name="nomeSquadra" class="form-control" ng-model="nomeSquadra" required/>
                </div>
                
                <div class="text-center">
                    <button type="button" ng-disabled="squadra.$invalid" class="btn btn-success" ng-click="datiSquadraCtrl.setNomeSquadra(nomeSquadra)">Conferma</button>
                </div>
                
            </form>
        </div>
    </div>
    
</div>