<div ng-controller="gareCtrl as gare">

    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Seleziona tipo gara
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li role="presentation" ng-repeat="tipoGara in gare.gare | uniqueTipoGaraFlt" ng-click="gare.selezionaTipoGara(tipoGara)"><a role="menuitem" tabindex="-1" >{{tipoGara.nome_it}}</a></li>
        </ul>
    </div>

    <div class="dropdown" ng-show="gare.tipoGaraSelezionata">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Seleziona gara
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li role="presentation" ng-repeat="gara in gare.gare | tipoGara:gare.tipoGaraSelezionata" ng-click="gare.selezionaGara(gara)"><a role="menuitem" tabindex="-1" >{{gara.nome}}</a></li>
        </ul>
    </div>

</div>
