<!DOCTYPE html>

<html ng-app="SceltaGara">
    <head>
        <title>Test gara</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.angularjs.org/1.4.3/angular.js" type="text/javascript"></script>
        <script src="https://code.angularjs.org/1.4.3/angular-resource.js" type="text/javascript"></script>
        <script src="https://code.angularjs.org/1.4.3/angular-route.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="../js/modulo1/modulo.js" type="text/javascript"></script>
        <script src="../js/modulo1/filtri.js" type="text/javascript"></script>
        <script src="../js/modulo1/controller.js" type="text/javascript"></script>
    </head>
    <body ng-controller="gareController as gareCtrl">
        
        <ul>
            <li ng-repeat="tipoGara in gareCtrl.gare | uniqueTipoGara">{{tipoGara.nome_it}}</li>
        </ul>
        
    </body>
</html>
